<div style="margin: 0 5%;">
  <app-loading-process *ngIf="loading"></app-loading-process>
  <div *ngIf="cart_list.length<1;">
    <div class="row">
      <div class="col-md-6" style="text-align: center; margin-bottom: 1rem;  ">

        <img src="https://i.ibb.co/hFR4q1k/empty-cart.jpg" alt="Image not found">

        <h2>Sorry! Your cart is empty</h2>
        <hr>
        <button mat-raised-button color="primary" routerLink="/products">Shop something</button>
      </div>
      <div class="col-md-6">
        <div style="margin: 2rem">
          <h2>The total amount of</h2>
          <hr>
          <button class="tn btn-primary btn-block" (click)="onCheckOut()">GO TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="cart_list.length>0;">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
        <div *ngFor="let cart of cart_list;let i = index">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{cart.item.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{cart.amount}} Unit
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="card shadow p-2 mb-2 bg-white rounded link-unstyled">
                <div class="row no-gutters">
                  <div class="col-md-4" (click)="goToDetails(cart.item.id)">
                    <img src="{{cart.item.image}}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-8">
                          <h2 class="card-title">{{cart.item.name}}</h2>
                        </div>
                        <div class="col-md-4">
                          <p class="card-text">Price : {{cart.item.price}}</p>
                        </div>
                      </div>
                      <p>{{cart.item.description}}</p>
                      <div class="row">
                        <div class="col-md-6">
                          <button mat-raised-button color="accent" class="btn-block" fxShow="false" fxShow.gt-sm
                            [disabled]="true" style="text-align: center;">
                            <mat-icon>favorite</mat-icon> Add to wishlist
                          </button>
                        </div>
                        <div class="col-md-6">
                          <button mat-raised-button class="btn-block" style="border-radius: 10px;">
                            <div class="row" style="text-align: center;  ">
                              <div class="col-sm-6 col-sx-6" style="background-color: red; padding-top: 6px;"
                                (click)="onDeleteItem(cart.item.id)">
                                <mat-icon style="padding: 0 6px; cursor: pointer;user-select:none;">remove</mat-icon>
                              </div>
                              <div class="col-sm-6 col-sx-6" style="background-color: green;padding-top: 6px;"
                                (click)="onAddToCart(cart.item)">
                                <mat-icon style="cursor: pointer; user-select:none;">add</mat-icon>
                              </div>
                            </div>
                          </button>

                          <!-- <button mat-raised-button color="warn" class="btn-block" (click)="onDeleteItem(cart.item.id)">
                          <mat-icon>delete</mat-icon> Delete Item
                        </button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
        <hr>
        <button class="btn btn-primary" routerLink="/products">Add More</button>
      </div>

      <!-- cart tota details -->
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">

        <div class="row" style="margin: 1rem">
          <div class="col-md-6 col-sm-6"><strong>Product Name</strong></div>
          <div class="col-md-2 col-sm-2"><strong>Price</strong></div>
          <div class="col-md-2 col-sm-2"><strong>Quantity</strong></div>
          <div class="col-md-2 col-sm-2"><strong>Total</strong></div>
        </div>

        <div style="margin: 2rem" *ngFor="let item of cart_list">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-6">
              {{item.item.name}}
            </div>
            <div class="col-md-2 col-sm-2 col-sx-2">
              {{item.item.price}}
            </div>
            <div class="col-md-2 col-sm-2 col-sx-2">
              {{item.amount}}
            </div>
            <div class="col-md-2 col-sm-2 col-sx-2">
              {{item.item.price * item.amount}}
            </div>

          </div>

        </div>
        <div class="row" style="margin:1rem;">
          <h2>The total amount is : {{grand_total}}</h2>

          <hr>
          <button class="tn btn-primary btn-block" (click)="onCheckOut()">GO TO CHECKOUT</button>
        </div>
      </div>
    </div>

  </div>
