.success{
  background-color:rgba(0, 128, 0, 0.301);
  color: green;
  text-align: center;
  border: solid green 2px;
  margin-bottom:1rem;
  border-radius: 13px;
}
.error{
  background-color:rgba(255, 0, 0, 0.301);
  color: red;
  text-align: center;
  border: solid red 2px;
  border-radius: 13px;
  margin-bottom:1rem;
}
