  <div class="row">
    <div class="col-md-3 part1" fxShow="false" fxShow.gt-sm style="padding-left: 5%; min-height:48rem">
      <app-side-panel></app-side-panel>
    </div>
    <div class="col-md-9">
      <div class="row">
          <div class="col-md-4 col-lg-3 col-sm-6 col-sx-12" *ngFor="let product of products;" >
          <app-product-element  [product]="product"></app-product-element>
      </div>
    </div>




    <div class="col-md-12" >
      <mat-paginator [length]="totalPosts" [pageSize]="postPerPage"
      [pageSizeOptions]="pageOptions" (page)="onPageChange($event)">
      </mat-paginator>
    </div>

  </div>


