  <div class="row">
    <div class="col-md-2 part1" fxShow="false" fxShow.gt-sm style="min-height:48rem; ">
      <app-side-panel></app-side-panel>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12" *ngIf="this.currentPage==1">
          <app-search></app-search>
          <hr>
        </div >
          <div class="col-md-4 col-lg-3 col-sm-6 col-sx-12" *ngFor="let product of products;" >
           <app-product-element  [product]="product"></app-product-element>
          </div>
        <div *ngIf="products.length<1" class="col-md-12" style="text-align: center;">
          <img src="https://img.icons8.com/color/452/nothing-found.png" alt="">
        </div>
    </div>




    <div class="col-md-12" >
      <mat-paginator [length]="totalPosts" [pageSize]="postPerPage"
      [pageSizeOptions]="pageOptions" (page)="onPageChange($event)">
      </mat-paginator>
    </div>

  </div>


