<a style="text-decoration:none; cursor: pointer;">
  <div class="card shadow p-2 mb-2 bg-white rounded" style="margin-bottom: 2rem;">
    <img class="card-img-top" src="{{product.imgPath}}" fxShow.gt-sm alt="Card image cap"
      style="width:fit-content;height: 12rem;" [routerLink]="[index]" routerLinkActive="active">

    <!-- <img class="card-img-top" src="{{product.imgPath}}" fxHide.gt-xs alt="Card image cap" style="height: 12rem;" hidden-lg hidden-md
      [routerLink]="[index]" routerLinkActive="active"> -->
    <div class="card-body">
      <div [routerLink]="[index]" routerLinkActive="active">
        <h2 class="card-title">{{product.name}}</h2>
        <!-- <p class="card-text">{{product.description}}</p> -->
      </div>
      <hr>
      <button class="btn btn-primary btn-block" (click)="onAddCart()" [disabled]="!btn_not_clicked">Add to Cart</button>
    </div>
  </div>
</a>
