.main-card{
  margin-bottom: 1rem;
  border: 15%;
}
.cart-button{
  /* border-radius: 25%; */
  display:inline-block;
  color: white;
  width:2rem;
  user-select: none;
   cursor:pointer;
   text-align: center;
   text-decoration: none;

}
.main-card:hover{
  z-index: 50;
  transform: scale(1.05);

}
