input.ng-invalid.ng-touched{
  border: 2px solid red;
}
.response{
  background-color: green;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
.back-drop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0,0.75);
  z-index: 50;
}

.alert-box-action{
  text-align: right;

}
@media screen and (max-width: 900px) {
  .alert-box
{
  position:fixed;
  top: 12rem;
  left: 2%;
  right: 2%;
  max-width: 50rem;
  min-width: 40rem;
  padding: 26px;
  background-color:cadetblue;
  z-index: 150;
  color: black;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.26);
}
}
@media screen and (min-width: 900px) {
  .alert-box
{
  position:fixed;
  top: 12rem;
  left: 30%;
  right: 30%;
  max-width: 50rem;
  min-width: 40rem;
  padding: 26px;
  background-color:cadetblue;
  z-index: 150;
  color: black;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.26);
}
}
.small-scr{
  position: fixed;
  top: 10vh;
  left: 50vw;
  right: 50vh;
 /* width: 100vw; */
  padding: 26px;
  background-color: black;
  z-index: 150;
  color: white;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.26);
}
.loginInvalid{

  color:red;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}
.signupMsg{
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}
.inputContainer i {
  position: absolute;
}
.inputContainer {
  width: 100%;
  margin-bottom: 10px;
}
.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}
