<div class="row main">
  <div class="col-md-12" style="z-index: 100; position:fixed; background-color: navy; width: 100%;">
    <app-nav-bar></app-nav-bar>
  </div>
    <app-auth *ngIf="showLogin"></app-auth>
    <!-- <div class="col-md-3 part1" fxShow="false" fxShow.gt-sm style="padding-left: 5%; min-height:50rem" >
      <app-side-panel></app-side-panel>
    </div> -->


    <div class="col-md-12 part2">
      <!-- navbar is fixed so the below div to prevent navbar overlaping user content -->
      <div style="height: 5rem"></div>
      <router-outlet></router-outlet>
    </div>
</div>
<!-- <app-test-demo style="text-align: center;"></app-test-demo> -->
