
  <nav class="navbar navbar-expand-lg" style="color: white;padding: 0 6%; height: 4rem;">
    <div class="navbar-brand" routerLink="products" style="cursor: pointer;user-select: none;">Local Mart</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon style="color:white">menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item">
            <button mat-button routerLink="cart" style="margin-right: 1rem;" *ngIf="!authService.currentUser" fxShow="false" fxShow.gt-sm data-toggle="collapse" data-target=".navbar-collapse.show"><mat-icon>shopping_cart</mat-icon>My Cart</button>
          </li>


          <li class="nav-item" fxHide="false" fxHide.gt-sm >
            <button mat-menu-item routerLink="products" class="sm-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
              <mat-icon class="sm-icon" >home</mat-icon>
              <span>Home</span>
              </button>
              <mat-divider></mat-divider>
          </li>
          <li class="nav-item" fxHide="false" fxHide.gt-sm >
            <button mat-menu-item routerLink="cart" class="sm-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
              <mat-icon class="sm-icon">shopping_cart</mat-icon>
              <span>My Cart</span>
              </button>
              <mat-divider></mat-divider>
          </li>
          <li class="nav-item" fxHide="false" fxHide.gt-sm *ngIf="authService.currentUser">
            <button routerLink="products/new" mat-menu-item class="sm-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
              <mat-icon class="sm-icon" >add_circle</mat-icon>
              <span>Add Product</span>
              <mat-divider></mat-divider>
          </button>
          </li>
          <!-- <li class="nav_item" fxHide="false" fxHide.gt-sm  *ngIf="authService.currentUser">
            <button routerLink="products/edit" mat-menu-item class="sm-menu"  data-toggle="collapse" data-target=".navbar-collapse.show">
              <mat-icon class="sm-icon">update</mat-icon>
              <span>Update Product</span>
            </button>
            <mat-divider></mat-divider>
          </li> -->
          <li class="nav-item" fxHide="false" fxHide.gt-sm >
            <button mat-menu-item class="sm-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
              <mat-icon class="sm-icon">phone</mat-icon>
              <span>Contact</span>
            </button>
            <mat-divider></mat-divider>
          </li>

          <li class="nav-item">
            <a mat-raised-button color="accent" (click)="demoClicked()" class="btn btn-block" style="cursor: pointer;" *ngIf="!userLogged">LogIn</a>
            <div mat-menu-item *ngIf="userLogged">
              <button class="btn-block" mat-raised-button color="warn" (click)="onLogOut()" fxHide="false" fxHide.gt-sm >Logout</button>
            </div>
          </li>
          <li class="nav-item" fxShow="false" fxShow.gt-sm>
            <div [mat-menu-trigger-for]="usermenu" *ngIf="authService.currentUser">
              <div *ngIf="authService.currentUser" mat-menu-item  style="padding: 0 0 0 1rem; color: white;">
                <mat-icon style="color: white;">account_circle</mat-icon>
                <span><strong>{{userLogged.firstname }}</strong></span>
              </div>
            </div>
          </li>

        </ul>
      </div>
   </nav>

<mat-menu #usermenu="matMenu" class="usermenu">
  <button mat-menu-item routerLink="cart">
    <mat-icon>shopping_cart</mat-icon>
    <span>My Cart</span>
  </button>
  <button routerLink="products/new" mat-menu-item >
      <mat-icon>add_circle</mat-icon>
      <span>Add Product</span>
  </button>
  <!-- <button routerLink="products/new" mat-menu-item >
    <mat-icon>update</mat-icon>
    <span>Update Product</span>
  </button> -->

  <button mat-menu-item >
    <mat-icon>email</mat-icon>
    <span>Feedback</span>
  </button>

  <button mat-menu-item (click)="onLogOut()">
    <mat-icon>logout</mat-icon>
    <span>LogOut</span>
  </button>
