<div class="row">
  <div class="col-md-2">
    <div style="border-left: 6px solid grey"></div>
  </div>
  <div class="col-md-11" (click)="getAccess()">
    <img src="{{product.image}}" alt="image not found" style="max-width: 24rem;">
    <hr>
    <h1><strong>{{product.name}}</strong></h1>
    <p class="btn btn-light" style="border: blue solid 2px; cursor:none;">Price: {{product.price}}</p>
    <hr>
    <button mat-raised-button color="primary" (click)="onAddtoCart()">Add To Cart</button>
    <button mat-raised-button color="accent" (click)="onUpdate()"[disabled]="!haveAccess" >Update</button>
    <button mat-raised-button color="warn" (click)="onDelete()" [disabled]="!haveAccess">Delete</button>

    <mat-tab-group>
      <mat-tab label="Description"><p>{{product.description}}</p></mat-tab>
      <mat-tab label="Other"> Maid in India </mat-tab>
    </mat-tab-group>




<app-test1></app-test1>

</div>
